.hidden {
	display: none;
}

.cookie-paper {
	min-width: 35em;
	max-height: 50%;
	box-shadow: 6px 6px 13px 0px #000000c2; 
	animation: popIn .7s ease-in forwards;
	grid-area: 1 / 1;
	cursor: pointer;
}

@keyframes popIn {
	from {
		transform: scale(0);
	}
	75% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}